.about{
    .section1{
        display: flex;
        flex-direction:row;
        padding: 50px;
        align-items: center;
        gap: 62px;
        .section1text{
            display: flex;
            flex-direction: column;
            margin: auto;
            gap: 30px;
            max-width: 600px;
        }
        .section1image img{
            width: 100%;
            height: auto;
        }
    }
    .section2{
        display: flex;
        flex-direction:row;
        padding: 50px;
        align-items: center;
        gap: 62px;
        .section2text{
            display: flex;
            flex-direction: column;
            margin: auto;
            gap: 30px;
            max-width: 600px;
        }
        .section2image img{
            width: 100%;
            height: auto;
        }
    }
        
    
}