//Footer

footer {
  background-color: black;
  .container {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .footer-contents {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 15px;
    @media (max-width: 768px) {
      flex-direction: column;
    }

    .business-container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .hour-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 300px;
      }
    }
    .nav-container {
      display: flex;
      gap: 3rem;
      .footer-nav-group {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
      a {
        color: white;
        text-decoration: none;
        &:not(:has(h4)) {
          display: block;
        }
        &:active,
        &:hover {
          font-weight: 500;
          color: $primary-red;
        }
        @media (max-width: 768px) {
          &:not(:has(h4)) {
            display: none;
          }
        }
      }
    }

    .map-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      //padding-top: 15px;
      width: 300px;

      gap: 15px;
      .social-links {
        display: flex;
        flex-direction: row;
        width: 25%;
        justify-content: space-between;
      }
    }
  }
}

// .second-box {
//     padding: 5px 5px;
//     font-size:10px;
//     font-family: 'Open Sans', sans-serif;
//     background-color: white;
//     color: black;
// }
