@import './about.scss';
@import './contact.scss';
@import './home.scss';
@import './menu.scss';
@import './header.scss';

$primary-red: #EF3E56;

p{
    font-family: 'Open Sans', sans-serif;
}

//button
.cta-btn{
    font-family: "Open Sans", sans-serif !important;
    color: white !important;
    background-color: #EF3E56 !important;
    font-weight: 600 !important;
    text-wrap: nowrap;
    border-radius: 30px !important;
    box-shadow: none !important;
    font-size: 20px !important;
}