@import './about.scss';
@import './contact.scss';
@import './home.scss';
@import './menu.scss';
@import './header.scss';
@import './footer.scss';

$primary-red: #EF3E56;

p{
    font-family: 'Open Sans', sans-serif;
}

h3{
    font-weight: lighter;
    color: white;
}

//Google Map Component

.google-map{
    width: 400px;
    height: 300px;
}
//button
.cta-btn{
    font-family: "Open Sans", sans-serif !important;
    color: white !important;
    background-color: #EF3E56 !important;
    font-weight: 600 !important;
    text-wrap: nowrap;
    border-radius: 30px !important;
    box-shadow: none !important;
    font-size: 15px !important;
    
    &.icon-btn{
        min-width: 0;
        width: 30px;
        height: 30px;
    }
}